checkpoints
rawData
reports
reports/images
reports/research
tutorials
project.zip
rawData.zip
alternative_methods/yolo/datasets/dolphin/data
alternative_methods/yolo/datasets/markings/data
alternative_methods/yolo/yolov5
alternative_methods/yolo/yolo.zip
alternative_methods/Sobel/data
alternative_methods/Sobel/test
alternative_methods/Sobel/train
alternative_methods/Sobel/val
alternative_methods/Laplacian/data
alternative_methods/Laplacian/test
alternative_methods/Laplacian/train
alternative_methods/Laplacian/val
alternative_methods/HOG/data
alternative_methods/Canny/data
alternative_methods/Canny/test
alternative_methods/Canny/train
alternative_methods/Canny/val
analysis/data
analysis/outputs
analysis/plots
analysis/master
analysis/env
analysis/code/src/review_object_detection_metrics
analysis/project.zip
analysis/data.zip
analysis.zip
project_active.zip
